* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial, sans-serif;
    min-width: 400px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* Header */

.header {
    font-size: 13px;
    font-weight: 400;
}

.header-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.header-list li {
    margin-right: .2rem;
    padding: .55rem .2rem;
}

.header a {
    text-decoration: none;
    color: black;
}

.second button {
    color: white;
    font-size: 14px;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: rgb(26, 115, 232);
    padding: 7px 23px;
    border-radius: 13px;
    border-style: none;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    border-style: solid;
    border-width: 9px;
    border-color: white;
}

.second button:hover {
    cursor: pointer;
    background-color: rgb(43, 125, 233);
    border-radius: 7px;
    border-style: solid;
    padding: 7px 23px;
    text-align: center;
    border-radius: 13px;
}

.header-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.second- {
    margin-left: 8px;
}


/* Google Search */

.google {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.google-image {
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 2vh;
}

.google-image img {
    width: 272px;
    height: 92;
    margin: .8rem;
}

.google-search {
    display: flex;
    align-items: center;
    width: 90%;
    border: 0.1px solid rgb(182, 182, 182);
    border-radius: 50px;
    height: 44px;
    min-width: 360px;
    max-width: 584px;
}

.input {
    display: flex;
    flex: 1;
}

.input input {
    display: flex;
    flex: 2;
    border-radius: 4px;
    height: 1.5rem;
    margin: 0 14px;
    border-style: none;
    font-size: 16px;
    /* width: max-content; */
}

.input:focus-visible,
.input input:focus-visible {
    outline: none;
    border-style: none;
}

.search {
    display: flex;
    width: .5rem;
    height: .9rem;
    margin: 0px 10px 0 20px;
}

.mic {
    display: flex;
    margin-right: 20px;
    height: 1.4rem;
}

.mic:hover {
    cursor: pointer;
}


/* Welcome */

.welcome-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1rem;
}

.links {
    display: flex;
}

.google-search-button,
.google-doodles {
    margin: 11px 4px 20px 4px;
}

.google-search-button button,
.google-doodles button {
    background-color: rgb(248, 249, 250);
    border-style: none;
    padding: 0 16px;
    border-radius: 4px;
    font-family: arial, sans-serif;
    height: 36px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(248, 249, 250);
    font-size: 14px;
}

.google-doodles button:hover,
.google-search-button button:hover {
    border: 1px solid #dadce0;
}

.language {
    font-size: small;
    line-height: 28px;
}

.language a {
    text-decoration: none;
    margin-left: 5px;
}


/* Footer */

.footer-1 {
    display: flex;
    justify-content: space-between;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 20px;
}

.kenya {
    display: flex;
    flex: 1;
    border-bottom: 1px solid #dadce0;
}